<ion-view view-title="Juego">
  <ion-content class="bodyJuego" scroll="false">
  	<div style="width:100%; padding:2%"> 	
  		<button class="button icon ion-record" ng-click="GuardarEleccion()"></button>
  		<button class="button icon ion-play" style="float:right;" ng-click="LeerEleccion()"></button>
  	</div>
    <a ng-click="Vaca()"><img src="img/vaca.png" class="buttonJuego"></a>
    <a ng-click="Pato()"><img src="img/pato.png" class="buttonJuego"></a>
    <a ng-click="Oveja()"><img src="img/oveja.png" class="buttonJuego"></a>
    <a ng-click="Caballo()"><img src="img/caballo.png" class="buttonJuego"></a>
    <a ng-click="Cerdo()"><img src="img/cerdo.png" class="buttonJuego"></a>
    <a ng-click="Gallo()"><img src="img/gallo.png" class="buttonJuego"></a>
  </ion-content>
</ion-view>
