<ion-view view-title="Juego">
  <ion-content class="bodyJuego" scroll="false">
  	<div style="width:100%; padding:3%"> 	
  		<button class="button icon ion-archive" ng-click="GuardarEleccion()"></button>
  		<button class="button icon ion-document-text" style="float:right;" ng-click="LeerEleccion()"></button>
  	</div>
    <a ng-click="Reproducir('vaca')"><img src="img/vaca.png" class="buttonJuego"></a>
    <a ng-click="Reproducir('pato')"><img src="img/pato.png" class="buttonJuego"></a>
    <a ng-click="Reproducir('oveja')"><img src="img/oveja.png" class="buttonJuego"></a>
    <a ng-click="Reproducir('caballo')"><img src="img/caballo.png" class="buttonJuego"></a>
    <a ng-click="Reproducir('cerdo')"><img src="img/cerdo.png" class="buttonJuego"></a>
    <a ng-click="Reproducir('gallo')"><img src="img/gallo.png" class="buttonJuego"></a>
  </ion-content>
</ion-view>
